.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;

}
.grid div{
    width: 20px;
    height: 20px;
}

.cobra{

    background-color: rgb(0, 116, 46);
    border-radius: 7px;
}

.apple {
    background-color: rgb(166, 40, 8);
    border-radius: 7px;

}
